h1{
	margin-top: 50px;
	color: green;
}

p {
	background-color: #0AFB67;
    color: #fff;
    width: 35%;
}

hr {
	background-color: red;
	width: 25%;
	height:2vh;
	display: inline-block;
	margin-left: 250px;
}